/*
composs
********************************/

html,
body {
    height: 100%;
}

.content {
 max-width: 600px;
 height: 100%;
 margin: 0 auto;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}

/*
Post
**************************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
}

.posts ul {
    padding: 0;
}
.posts li {
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}



.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}


.posts li .menu {
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.post li .menu a {
    text-decoration: none;
}


.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}


@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}